@import "../style/yo/lib/core/merge-extra";
@import "../style/yo/lib/core/merge-config";
@import "../style/yo/lib/core/reset";
@import "../style/yo/lib/core/classes/animation";
@import "../style/yo/lib/ani/classes";
@import "../style/yo/lib/ani/elastic-in-right";

@font-face{
	font-family: "yofont";
	src: url("../assets/iconfont/iconfont.ttf") format('truetype'),
	url("../assets/iconfont/iconfont.woff") format('woff')
}

html{
	font-size: 15.625vw;
}

body{
	overflow: auto;
}
